<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>3BandEQ (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>3BandEQ (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>3BandEQ (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>3BandEQ (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18707BC640EC99A222804456</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>658C4F12970F515B2D10F7D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73C577BB519FA99EB56B52B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1BAE3D9CA34A9A7AFA7DD0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
